<div *ngFor="let ville of villes | slice:0:4; let i=index">
    <div class="alert mb-3"
        [ngClass]="{'alert-success': ville.status === 'allume', 'alert-danger': ville.status === 'eteint'}">
        <h3>{{ville.nom}}</h3>
        <div>
            <button class="btn btn-secondary" (click)="onSwitch(i)">
                {{ville.status === 'allume' ? 'Eteindre' : 'Allumer'}}
            </button>
            <input type="text" [(ngModel)]="ville.nom" />
        </div>
        <a [routerLink]="['/caracteristiques', { id: i }]">Détails</a>
    </div>
</div>