<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <div>Pony Racer</div>
        <button class="btn btn-success" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-light container-fluid">
        <ul class="nav navbar-nav pb-3">
            <li><a class="link-secondary" routerLink="/authentification">Authentification</a></li>
            <li><a *ngIf="this.authService.isAuth" class="link-secondary" routerLink="/races">Races</a></li>
        </ul>
    </div>
</div>